@tailwind base;
@tailwind components;
@tailwind utilities;

.chart {
    width: 100%;
    height: 100px;
}

.chart-heading {
    width: 100%;
    border-bottom: 1px solid #aea6a66e;
}

.active-tab {
    font-weight: 500;
    font-size: 18px;
    color: black;
    border-bottom: 2px solid #1640ff;
}

.inactive-tab {
    font-weight: 500;
    font-size: 18px;
}

.button {
    background-color: #3B82F6;
    min-width: 115px;
    color: white
}

.button:hover {
    background-color: #dfeaf8;
    color: black;
    font-weight: 500;
}

.tabs {
    position: fixed;
    right: 0px;
    top: 70px;
    height: 60px;
}

.header {
    color: black;
    height: 70px;
}

.navbar {
    color: black;
    font-weight: 500;
    height: calc(100vh - 70px);
    position: fixed;
    background-color: white;
    width: 17%;
}

.nav-link:hover,
.nav-link-active:hover {
    background-color: #dedede;
    color: black;
}

.nav-active-link {
    background-color: #dedede;
    color: black;
}

.nav-link {
    border-radius: 7px;
}

.addRow {
    position: relative;
    left: -2rem;
    top: 50%;
    transform: translateY(-50%);
    background: white;
    padding: 0.25rem;
    z-index: 10;
  }
  

.table-cell {}

.table-row {
    position: relative;
  }

.table-header-row {}

.table-header,
.table-cell {
    padding: 0.5rem 1rem;
    border-bottom: 1px solid #e2e8f0;
    text-align: left;
    height: 40px;
    max-width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.input {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #d1d5db;
    border-radius: 0.25rem;
    margin-top: 0.25rem;
    transition: border-color 0.2s ease, box-shadow 0.2s ease;
}

.input:focus {
    outline: none;
    border-color: #1640ff;
    box-shadow: 0 0 0 1px #1640ff;
}

.children{
    width: 100%;
}

.custom-table {
    max-height: 500px;
}
.logo{
    margin-left: 20px;
    width: 150px;
    height: 65px;
}

.listview-table{

}
  
/* #650f8f #b144d6--purple 
bg-blue-200 #3dbdf0 --skyblue
*/