@tailwind base;
@tailwind components;
@tailwind utilities;

.chart {
    margin-top: 6px;
    /* width: 100%;
    height: 100px; */
}

.chart-heading {
    width: 100%;
    border-bottom: 1px solid #aea6a66e;
}

.active-tab {
    font-weight: 500;
    font-size: 18px;
    color: black;
    border-bottom: 2px solid #1640ff;
}

.inactive-tab {
    font-weight: 500;
    font-size: 18px;
}

/* .button {
    background-color: #3B82F6;
    min-width: 115px;
    color: white
}

.button:hover {
    background-color: #dfeaf8;
    color: black;
    font-weight: 500;
} */

.tabs {
    position: fixed;
    right: 0px;
    top: 70px;
    height: 60px;
    z-index: 99;
}

.header {
    color: black;
    height: 70px;
}

.navbar {
    color: black;
    font-weight: 500;
    height: calc(100vh - 70px);
    position: fixed;
    background-color: white;
    width: 17%;
    z-index: 999;
}

.nav-link:hover,
.nav-link-active:hover {
    background-color: #E5E7EB;
    color: black;
}

.nav-active-link {
    background-color: #E5E7EB;
    color: black;
    font-weight: 700;
}
.active-icon{
    fill:black
}
.nav-link {
    border-radius: 7px;
}

.addRow {
    position: relative;
    left: -2rem;
    top: 50%;
    transform: translateY(-50%);
    background: white;
    padding: 0.25rem;
    z-index: 10;
  }
  

.table-cell {}

.table-row {
    position: relative;
  }

.table-header-row {}

.table-header,
.table-cell {
    border-bottom: 1px solid #e2e8f0;
    text-align: left;
    height: 40px;
    max-width: 250px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.table{
    max-height: 500px;
    height: 500px;
}

.input {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #d1d5db;
    border-radius: 0.25rem;
    margin-top: 0.25rem;
    transition: border-color 0.2s ease, box-shadow 0.2s ease;
}

.input:focus {
    outline: none;
    border-color: #1640ff;
    box-shadow: 0 0 0 1px #1640ff;
}

.children{
    width: 100%;
}

.custom-table {
    max-height: 500px;
}
.logo{
    margin-left: 20px;
    width: 150px;
    height: 65px;
}

.listview-table{

}

.editPopup{
    position: absolute;
    top: 100px;
    bottom: 100px;
    overflow: auto;
}
.createPopup{
    position: absolute;
    top: 100px;
    bottom: 100px;
    overflow: auto;
}
.createPopup-height{
    max-height:75%;
}
  
.rectangular-input {
    border-radius: 0;
    padding: 9px;
    /* background-color: #eee; */
   
  }
 
  .bold-label {
    /* font-weight: bold; */
    font-size: 20px;
  }
  .ant-form{
    padding: 5px;
  }
  .custom-disabled-input{
    /* color: #333;  */
    pointer-events: none; 
    background-color: #eee;

  }
  .custom-disabled-input:focus,
  .custom-disabled-input:hover {
      border-color: #f0f0f0; 
      box-shadow: none; 
      outline: none; 
  }
.ant-select-selector {
    border-radius: 5px !important;
    height: 40px !important;
    display: flex !important;
    align-items: center !important;
}

.ant-select-selection-item {
    font-size: 16px !important;
}
.form-block {
    border: 1px solid #ccc; /* Border style */
    padding: 20px; /* Padding inside the border */
    margin-bottom: 20px; /* Margin bottom for separation */
    border-radius: 15px;
    /* display: grid; */
  grid-template-columns: 1fr 1fr; /* Two columns for grid layout */
  gap: 20px; /* Gap between grid items */
  }
  .buttons{
        margin-right: 10px ;
        border-color: #00C2F3 !important;
        color: #00C2F3 !important;
        border-radius: 15px;
        background: none !important;
        gap: 10px;
        margin-bottom: 10px;
  }
  .buttons:hover,
.buttons:focus,
.buttons:active {
  border-color: #00C2F3 !important;
  color: #00C2F3 !important;
  box-shadow: none;
}
.buttons:focus-visible {
    outline: none !important;
    box-shadow: none !important;
    background-color: none !important;
  }
  .save-button{
    margin-right: 10px ;
    background-color: #00C2F3; /* Red background color */
    color: white; /* Text color */
    border: none; /* Remove border */
    border-radius: 18px;
  }
  .cancel-button {
    margin-right: 20px ;
    background-color: #BF1212; /* Red background color */
    color: white; /* Text color */
    border: none; /* Remove border */
    border-radius: 18px;
}
.active-btn{
    background-color: #BFDBFE;
}
.inactive-btn{
    background-color: #D1D5DB;
}

.active-btn,.inactive-btn{
    border-radius: 8px;
    padding: 2px 8px;
}

.cancel-btn{
    background-color: #D1D5DB
}
.cancel-btn:hover{
    background-color: #6B7280;
    color: white;
}

.save-btn{
    background-color: #BFDBFE;
}
.save-btn:hover{
    background-color: #3B82F6;
    color: white;
}

.cancel-btn,.save-btn{
    min-width: 115px;
    border-radius: 8px;
    display: flex;
    padding: 4px 4px;
    padding-right: 8px;
    min-height: 40px;
    align-items: center;
    justify-content: center;
}

.custom-modal {
    max-width: 800px; /* Increased width */
  }
  
  .custom-modal .ant-modal-content {
    padding: 24px; /* Add padding to content area */
  }
  
  .custom-modal .modal-content {
    display: flex;
    flex-direction: column;
  }
  
  .custom-modal .modal-section {
    margin-bottom: 16px; /* Space between sections */
  }
  
  .custom-modal .modal-label {
    display: block;
    margin-bottom: 8px;
    font-size: 16px;
    font-weight: bold;
  }
  
  .custom-modal .modal-input {
    width: 100%;
  }
  
  .custom-modal .modal-divider {
    margin: 16px 0; /* Divider between sections */
    border: none;
    border-top: 1px solid #ccc;
  }

  .pagination-prev{
    padding: 5px 8px;
    padding-right: 10px;
  }
  .pagination-next{
    padding: 5px 8px;
    padding-left: 10px;
  }
  .pagination{
    height: 35px;
    align-items: center;
  }

  .pagination-num{
    padding: 5px 10px;
  }

/*
Gray 50: #F9FAFB
Gray 100: #F3F4F6
Gray 200: #E5E7EB
Gray 300: #D1D5DB
Gray 400: #9CA3AF
Gray 500: #6B7280
Gray 600: #4B5563
Gray 700: #374151
Gray 800: #1F2937
Gray 900: #111827

Red 50: #FEF2F2
Red 100: #FEE2E2
Red 200: #FECACA
Red 300: #FCA5A5
Red 400: #F87171
Red 500: #EF4444
Red 600: #DC2626
Red 700: #B91C1C
Red 800: #991B1B
Red 900: #7F1D1D

Green 50: #ECFDF5
Green 100: #D1FAE5
Green 200: #A7F3D0
Green 300: #6EE7B7
Green 400: #34D399
Green 500: #10B981
Green 600: #059669
Green 700: #047857
Green 800: #065F46
Green 900: #064E3B

Blue 50: #EFF6FF
Blue 100: #DBEAFE
Blue 200: #BFDBFE
Blue 300: #93C5FD
Blue 400: #60A5FA
Blue 500: #3B82F6
Blue 600: #2563EB
Blue 700: #1D4ED8
Blue 800: #1E40AF
Blue 900: #1E3A8A

Yellow 50: #FFFBEB
Yellow 100: #FEF3C7
Yellow 200: #FDE68A
Yellow 300: #FCD34D
Yellow 400: #FBBF24
Yellow 500: #F59E0B
Yellow 600: #D97706
Yellow 700: #B45309
Yellow 800: #92400E
Yellow 900: #78350F

Purple 50: #F5F3FF
Purple 100: #EDE9FE
Purple 200: #DDD6FE
Purple 300: #C4B5FD
Purple 400: #A78BFA
Purple 500: #8B5CF6
Purple 600: #7C3AED
Purple 700: #6D28D9
Purple 800: #5B21B6
Purple 900: #4C1D95
*/